@import url('https://fonts.googleapis.com/css2?family=Abel&family=Rethink+Sans:wght@400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rethink Sans', sans-serif;
  background: #fff;
  margin: 0 auto;
}

main{
  margin: 0 auto;
  width: 60%;
}

html {
  scroll-behavior: smooth;
}

.name {
  padding: 40px 0;
  text-align: center;
}

.name:hover {
  cursor: default;
}

h1 {
  font-size:3rem;
  margin-bottom: 10px;
}

p {
  color: rgb(85,85, 85,);
}

a, 
.btn {
  transition: all 300ms ease;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content:space-around;
  align-items: center;
  height: 5vh;
  position: sticky;
  top: 0;
  background-color: white;
}



.nav-links {
  gap: 2.2em;
  list-style: none;
  font-size: 1.2rem;
  position: sticky;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}



a:hover {
  color: grey;
}


section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.profile-text {
  display: flex;
}


.profile {
  display: flex;
  justify-content: center;
  gap: 4rem;
  height: 80vh;
}

.self-image {
  margin-top: 10rem;
  background: no-repeat bottom / cover url('Images/kenny.png');
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.profile-text {
  align-self: center;
  text-align: center;
  display: flex;
  gap: 0;
  flex-direction: column;
}

.profile-text p {
  font-weight: 600;
}

.profile-p1 {
  text-align: center;
  color: grey;
  font-size: 1rem;
}

.profile-p2 {
  color: grey;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.profile-header {
  font-size: 2.5rem;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;

}

.icon {
  cursor: pointer;
  height: 2rem;
}

.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn:hover {
  cursor: pointer;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: white;
  background: rgb(0, 0, 0);
}

/* RESUME */

.resume-header {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.resume-image {
  justify-content: center;
  display: flex;
  width: 900px;
  height: 900px;
  margin: auto 0;
}

/* LEADERSHIP */

.rbm {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 10rem;
  gap: 3rem;
}

strong {
  font-size: 1.5rem;
}

.snbc {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 3rem;
  gap: 3rem;
  padding-bottom: 7rem;
}

.snbc-image {
  width: 240px;
  height: 240px;
}

/* Experience */

.msu {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 7rem;
  gap: 3rem;
}

.wootlab {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 7rem;
  padding-bottom: 7rem;
  gap: 3rem;
}

.wootlab-image {
  width: 240px;
  height: 90px;
}

.jackson {
  margin-top: 4rem;
  display: flex;
  margin-bottom: 7rem;
  gap: 3rem;
}

.jackson-image {
  width: 240px;
  height: 70px;
}